# ===================================
# API License 配置文件
# ===================================
#
# 使用说明：
# 1. 将此文件重命名为 api_key.txt
# 2. 在下方填入您的 API License
# 3. 不要包含多余空格或换行
#
# 获取 License：请访问 API 提供商网站
# ===================================

YOUR_API_LICENSE_HERE
